html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}
a, a:focus, a:hover {
  cursor: pointer;
  color: #409EFF;
  text-decoration: none;
}
