::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 17px;
  border: 5px solid transparent;
}
::-webkit-scrollbar-track {
  //background: red;
  background: transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, .15) inset;
}
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  background-color: #dddee0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
