$color-primary = #1890ff;
$font-base = #aeaeae;

.theme-dark {
  .app-wrapper {
    .sidebar-container {
      background-color: #001529;
      box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
      .logo {
        background: #002140;
        h1 {
          color: #ffffff;
        }
      }

      .side-menu-wrapper a.drop-menu-a {
        color: #ffffff;
      }
    }
  }
  .menu-dropdown {
    background: #001529;
    .drop-menu-a, .bin-dropdown-item {
      color: #bfbfbf;
    }
    .bin-dropdown-item:hover {
      background: #001529;
      color: #fff;
    }
    .bin-dropdown-item-selected {
      background: $color-primary;
      color: #fff;
    }
  }
}
