$color-primary = #1890ff;
$color-primary-light = #e6f7ff;
$font-base = rgba(0, 0, 0, .6)

.theme-light {
  .app-wrapper {
    .sidebar-container {
      background-color: #ffffff;
      box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05)
      .logo {
        background: #ffffff;
        box-shadow: 1px 1px 0 0 #e8e8e8;
        h1 {
          color: $color-primary;
        }
      }
      // bin-ui样式覆盖
      .aside-menu.bin-menu-vertical.bin-menu-light:after {
        display: none;
      }
      .side-menu-wrapper a.drop-menu-a {
        color: #495060;
      }
    }
  }
}
